.block{
    background: black;
    color: white;
    position: relative;
    width: 80%;
    height: 150px;
    margin: 15px 10% 0;
}
.block:last-child {
    margin-bottom: 15px;
}
.block input {
    width: 75px;
}
.wip{
    width: 33.33%;
    min-height: 500px;
    background: #008e00;
    position: relative;
    float: left;

}
.completed {
    width: 33.33%;
    min-height: 500px;
    background: #006b00;
    position: relative;
    float: left;
}
.delete-field {
    width: 33.33%;
    min-height: 500px;
    background: #004f00;
    position: relative;
    float: left;
    
}